/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #dbaf5c, #f06d76);
}

/* Contenedor del login */
.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

/* Título */
.login-container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* Estilos del formulario */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Botón */
button {
    width: 100%;
    padding: 10px;
    background-color: #ff6670;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffcc70;
}

/* Texto pequeño */
p {
    font-size: 14px;
    color: #666;
}

p a {
    color: #ff6670;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    color: #ffcc70;
}
